In [1]:
155
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [2]:
156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() == False:
    print(변수)

b
c

In [3]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

b
c

In [4]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    a = i.upper()
    print(a)

DOG
CAT
PARROT

In [5]:
157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    a = i[0].upper() + i[1:]
    print(a)

Dog
Cat
Parrot

In [6]:
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    split = i.split('.')
    print(split[0])
# split() 메서드는 문자열을 입력된 구분자로 분할해서 리스트로 반환합니다. 
# split() 메서드를 사용해서 마침표를 구분자 (".")로 문자열을 분할합니다.
# 그리고 0번 인덱스에 들어있는 파일 이름만 화면에 출력합니다.

hello
ex01
intro

In [7]:
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i[-2:] == ".h" or i[-2:] == ".c":
        print(i)

intra.h
intra.c
define.h

In [11]:
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split(".")
    if (split[1] == "h") or (split[1] =="c"):
        print(split[0])

intra
intra
define

In [16]:
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(0,100):
#     print(i)

IndentationError: expected an indented block (1842252214.py, line 4)

In [21]:
for i in range(2002,2051,4):
    print(i, end=" ")

2002 2006 2010 2014 2018 2022 2026 2030 2034 2038 2042 2046 2050

In [23]:
for i in range(1,31):
    if i % 3 == 0:
        print(i, end=" ")

3 6 9 12 15 18 21 24 27 30

In [26]:
for i in range(100):
    print(99 - i, end=' ')

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [27]:
for i in range(9):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8

In [32]:
for i in range(1,10):
    print(3, "x", i,  " = ", i*3)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [33]:
for i in range(1,10,2):
    print(3, "x", i, " = ", i*3)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [44]:
hab = 0
for i in range(1,11):
    hab += i
print(hab)

55

In [46]:
hap = 0
for i in range(1,11,2):
    hap += i
print(hap)

25

In [50]:
hap = 0
for i in range(1,11):
    if i % 2 == 1:
        hap += i
print(hap)

25

In [52]:
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

result = 1
for i in range(1,11):
    result = result *i
print(result)

3628800

In [54]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [55]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [56]:
for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [58]:
for i, price_list in enumerate([32100, 32150, 32000, 32500]):
    print(i, price_list)

0 32100
1 32150
2 32000
3 32500

In [59]:
price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print(i,data)

0 32100
1 32150
2 32000
3 32500

In [62]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(3-i,price_list[i])
    print((len(price_list)-1)-i, price_list[i])

3 32100
3 32100
2 32150
2 32150
1 32000
1 32000
0 32500
0 32500

In [64]:
for i in range(1,len(price_list)):
    print(90+i*10,price_list[i])

100 32150
110 32000
120 32500

In [65]:
my_list = ["가", "나", "다", "라"]

for i in range(0,len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [66]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [71]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(1,len(my_list)-1):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list), -1):
    print(my_list[i-1],my_list[0])

In [84]:
177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
my_list = ["가", "나", "다", "라"]

=>
for i in range(len(my_list)-1, 0, -1):
    print(my_list[i],my_list[i-1])

# 하나씩 써보면
# print(my_list[3], my_list[2])
# print(my_list[2], my_list[1])
# print(my_list[1], my_list[0])

# 각 라인마다 인덱스가 1씩 감소하고, 
# 같은 라인에서 우측 인덱스는 좌측 보다 1 작다고 분석할 수 있습니다. 
# 이를 코드로 옮기면 
for i in [3, 2, 1] :
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [93]:
178
# 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]


for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])
    
# print(my_list[1] - my_list[0])
# print(my_list[2] - my_list[1])
# print(my_list[3] - my_list[2])

100
200
400

In [106]:
179
# 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라. 
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1,len(my_list)-1):
    average = (my_list[i-1]+my_list[i]+my_list[i+1])/3

    print(average)
    
#     print(my_list[i-1],my_list[i],my_list[i+1])

233.33333333333334
100 200 400
466.6666666666667
200 400 800
733.3333333333334
400 800 1000
1033.3333333333333
800 1000 1300

In [111]:
180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 
# 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서
# 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(high_prices)):
    volatility.append(high_prices[i] - low_prices[i])

In [112]:
volatility

[50, 100, 30, 80, 0]

In [116]:
stock = [["시가",100,200,300],["종가",80,210,330]]

In [117]:
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [118]:
stock = {"시가": [100,200,300], "종가":[80,210,330]}

In [119]:
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

In [121]:
185
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [124]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [125]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [126]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [128]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [129]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [131]:
191 
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for ohlc in data:
    for num in ohlc:
        print(num+num*0.00014)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [133]:
192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for ohlc in data:
    for num in ohlc:
        print(num+num*0.00014)
    print("-"*4)

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [139]:
194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for ohlc in data:
    sub=[]
    for num in ohlc:
#         print(num*1.00014)
        sub.append(num*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [140]:
# 비교
result=[]
sub = []
for ohlc in data:
    for num in ohlc:
#         print(num*1.00014)
        sub.append(num*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [142]:
195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# i = ohlc.index("close")
# result =[]
# for i in range(ohlc(1,3)):
#     result = ohlc[변수][0]
#     print(result)

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [143]:
197
for row in ohlc[1:]:
    if row[3]>150:
        print(row[3])

190
310

In [146]:
198
volatibility = []
for row in ohlc[1:]:
    result = abs(row[2]-row[1])
    volatibility.append(result)
    
print(volatibility)

[40, 30, 10]